/* Header */
header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 40px;
  color: Mediumaquamarine;
}

.logo span {
  padding-left: 10px;
}

nav {
  padding-right: 40px;
}

nav span {
  padding: 10px;
}

/* Body */

.container{
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}


.column.large{
  width: 630px;
  flex: 4 1 630px;
}

.column.medium{
  width: 300px;
  flex: 1 1 300px;
}

.column.small{
  flex-direction: column;
  width: 240px;
  flex: 1 1 240px;
}

.column{
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.mainstory .image-content{
  background-image: url("../images/img-story-main.png");
  width: 630px;
  margin-top: 0px;
  font-size: 40px;
  text-align: left;
}

.fall-cancelled.image-content{
  background-image: url("../images/img-story-2.png");
}

.pop-culture.image-content{
  background-image: url("../images/img-story-3.png");
}

.cat-ceo.image-content{
  background-image: url("../images/img-story-1.png");
}

.image-content{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.stories{
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.story{
  display: flex;
  flex-direction: column;
  width: 300px;
}

.news-bites h3{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 41px;
}

.news-bites .bite{
  display: block;
  padding: 11px 20px;
  border-bottom: 1px solid black;
  background-color: Whitesmoke;
  font-family: Verdana;
  font-size: 12px;
  color: Dimgray;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 325px;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}

footer .title{
  display: inline-block;
  padding-right: 25px;
  border-right: 2px solid white;
  font-family: georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

nav span{
  display: inline-block;
  padding: 20px 10px;
}
